<div class="fluid-container people">
  <div class="page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-4  col-md-3 col-sm-3 people-detail-img">
          <div class="card mt-3">
            <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{peopleDetails.profile_path}}" />
          </div>
        </div>
        <div class="col-lg-8 col-md-9 col-sm-12">
          <div class="title mt-5">
            <a href="#">
              <h1 style="font-weight:700!important">{{peopleDetails.name}}</h1>
            </a>
            <span class="social-links ml-4">
              <a href="#"><i class="fa fa-facebook-official fa-lg mr-1"></i></a>
              <a href="#"><i class="fa fa-instagram fa-lg mr-1"></i></a>
              <a href="#"><i class="fa fa-twitter-square fa-lg mr-1"></i></a>
            </span>
          </div>
          <div class="bio mt-4">
            <h4>Biography</h4>
            <p>{{peopleDetails.biography |slice:0:84}}</p>
            <p>{{peopleDetails.biography |slice:85:398}}</p>
            <div class="bio-detail text-center">
              <a data-target="#myModal" data-toggle="modal"><i class="fa fa-chevron-circle-down "></i></a>
              <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Biography</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      <p>{{peopleDetails.biography |slice:0:84}}</p>
                      <p>{{peopleDetails.biography |slice:85:398}}</p>
                      <p>{{peopleDetails.biography  |slice:399:1500}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="rowbar mt-3">
    <hr class="m-0">
    <div class="nav-pins">
      <div class="container">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8 col-xs-12">
            <div class="d-flex flex-row ">
              <div class="dropdown pt-3 pr-3">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                  <a href="#">Discussions</a>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
              <div class="p-4 pr-5"><a href="#">Images</a></div>
              <div class="p-4 pr-5"><a href="#">Changes</a></div>
              <div class="p-4 pr-5"><a href="#">Report</a></div>
              <div class="p-4 pr-5"><a href="#">Share</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="m-0">
  </div>
  <div class="container mt-5">
    <div class="row detail">
      <div class="col-4 mt-5">
        <h5>Personal Info</h5>
        <p><strong><bdi>Known For</bdi></strong><br>{{peopleDetails.known_for_department}}</p>
        <p><strong><bdi>Gender</bdi></strong><br>{{peopleDetails.gender == 1 ? "Female": "Male"}}</p>
        <p><strong><bdi>Birthday</bdi></strong><br>{{peopleDetails.birthday}}</p>
        <p><strong><bdi>Place of Birth</bdi></strong><br>{{peopleDetails.place_of_birth}}</p>
        <p><strong><bdi>Also Known as</bdi></strong><br>{{peopleDetails. also_known_as}}</p>
      </div>
      <div class="col-8 known-movie">
        <h5>Known For</h5>
        <div class="row mb-5">
          <div class="col-3" *ngFor="let mc of movieCredits let i=index">
            <div *ngIf="i<8">
              <div class="card">
                <img class="img-fluid" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{mc.poster_path}}"
                  routerLink="/detail/{{mc.id}}" style="cursor:pointer">
              </div>
              <div class="card-title">
                <p routerLink="/detail/{{mc.id}}" style="cursor:pointer"><strong>{{mc.original_title}}</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="acting">
          <h5>Acting</h5>
          <table class="table">
            <tbody>
              <tr *ngFor="let mc of movieCredits">
                <th scope="row">{{mc.release_date|slice:0:4}}</th>
                <td><i class="fa fa-dot-circle-o"></i></td>
                <td><b routerLink="/detail/{{mc.id}}" style="cursor:pointer">{{mc.original_title}}</b> as
                  <i>"{{mc.character}}"</i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>